.container {
  padding: 12px;
}

.picContainer {
  width: 300px;
  height: 450px;
  flex-shrink: 0;
}

.pic {
  object-fit: cover;
}

.infoContainer {
  padding-top: 6px;
  display: flex;
  column-gap: 12px;
}

.genresList {
  display: flex;
  justify-content: flex-start;
  column-gap: 12px;
  list-style-type: none;
  padding: 0;
}

.line {
  height: 1px;
  background-color: rgb(110, 102, 102);
  margin-left: -12px;
  margin-right: -12px;
}
